<%- include('shared/head.ejs', {title: 'Absences' }) %>

    <body>
        <%- include('shared/navbar.ejs') %>

            <main>
                <header class="cd-main-header text-center flex flex-column flex-center">
                    <h5>Bonjour
                        <%= profile.firstname %>
                            <strong>
                            <%= profile.name %>
                        </strong>
                    </h5>
                    <h3>Vos absences</h3>
                </header>

                <div class="row mt-4 justify-content-center">
                    <div class="col-10 table-responsive">

                        <div class="row mb-4 justify-content-center">
                            <div class="col-sm-8 col-md-2">
                                <select class="form-select" style="text-align: center;" onchange="ChangeYearAbsence()" id="selectYearAbsence">
                                    <% for(year of yearAbsence) {%>
                                        <option value="<%= year['year_id'] %>"><%= year['year_name'] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Semestre</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Heure</th>
                                    <th scope="col">Matière</th>
                                    <th scope="col">Justifié</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(var absence of absences) { %>
                                    <tr class="<%= absence.year*absence.year %>">
                                        <td>
                                            <%= absence.trimester %>
                                        </td>
                                        <td>
                                            <%= absence.date.substring(0,10) %>
                                        </td>
                                        <td>
                                            <%= absence.date.substring(11,17) %>
                                        </td>
                                        <td>
                                            <%= absence.course_name %>
                                        </td>
                                        <td>
                                            <% if(absence.justified) {%>
                                                Oui
                                                <% } else { %>
                                                    Non
                                                    <% } %>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>
            <script src="/js/absences.js"></script>
    </body>

    </html>