<%- include('shared/head.ejs', {title: 'Notes' }) %>
</head>
    <body>
        <%- include('shared/navbar.ejs') %>

            <main>
                <header class="cd-main-header text-center flex flex-column flex-center">
                    <h5>Bonjour
                        <%= profile.firstname %>
                            <strong>
                            <%= profile.name %>
                        </strong>
                    </h5>
                    <h3>Vos notes</h3>
                </header>
                
                <div class="row mt-4 justify-content-center">
                    <div class="col-10 table-responsive">

                        <div class="row mb-4 justify-content-center">
                            <div class="col-sm-8 col-md-2">
                                <select class="form-select" style="text-align: center;" onchange="ChangeSemester()" id="selectSemester">
                                    <% for(id in semesters) {%>
                                        <option value="<%= semesters[id]['semester_id'] %>"><%= semesters[id]['semester_name'] %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Cours</th>
                                    <th scope="col">Coef</th>
                                    <th scope="col">ECTS</th>
                                    <th scope="col">Notes</th>
                                    <th scope="col">Note d'examen</th>
                                    <th scope="col">Moyenne</th>
                                    <th scope="col">Enseignant</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% for(var years of notes) { %>
                                <% for(var note of years) { %>
                                    <tr class="<%= note.trimester*note.year %>">
                                        <td>
                                            <%= note.course %>
                                        </td>
                                        <td>
                                            <%= note.coef %>
                                        </td>
                                        <td>
                                            <%= note.ects %>
                                        </td>
                                        <td>
                                        <% for(var n in note.grades) { %>
                                            <%= note.grades[n] %>   
                                        <% } %>
                                    </td>
                                        <td>
                                            <%= note.exam %>
                                        </td>
                                        <td>
                                            <%= note.average %>
                                        </td>
                                        <td>
                                            <%= note.teacher_civility %>
                                                <%= note.teacher_last_name %>
                                        </td>
                                    </tr>
                                        <% } %>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <script src="/js/notes.js"></script>
    </body>

    </html>